///// ABOUT PAGE /////

.about-wrapper {
    padding-top: 212px;
    flex: 1 1 0;

    @include breakpoint-large {
        padding: 212.40px 20px 20px 20px;
    }
}

.about-title {
    @include straight-row;
    align-items: center;
    font-weight: 600;
    font-size: 9vw;
    letter-spacing: 15px;
    margin: 0 0 -12px 20px;
    width: 10%;
    height: 100px;
    font-family: $roboto-condensed;
    position: absolute;
    top: 5%;
    left: 5%;
    color: $base-red-color;
    // text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  
    @include breakpoint-medium {
      margin: 0 0 -12px 30px;
      top: 10%;
      left: 0;
    }

  }
  
  .about-content {
    @include straight-column;
    justify-content: center;
    align-items: center;
    // background: #F8F8FC;
    background: $base-background-color;
  
    @include breakpoint-large {
      @include straight-row;
      height: 600px;
    }

    .about-image-wrapper {
        position: relative;

        @include breakpoint-large {
          height: 600px;
          flex: 1 1 0;
          padding-top: 0;
        }
    }
  
    .profile-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-top: 20px;
  
      @include breakpoint-large {
        object-fit: cover;
        padding-top: 0;
      }
    }

    .about-para-wrapper {
        text-align: center;
        padding: 20px 40px;

        @include breakpoint-large {
            padding: 20px 60px;
        }
    }
  
    .about-para {
      font-family: Helvetica Neue, serif;
      letter-spacing: 2px;
      font-size: 14px;
      line-height: 1.35;
      font-weight: lighter;
      padding: 20px 0;
      text-align: center;
      margin: 30px 20px 0 20px;
      flex: 1 1 0;
  
      @include breakpoint-medium {
        padding: 0;
        font-size: 20px;
      }
  
      &:hover {
        color: $base-red-color;
      }
    }

  }

  .highlight {
    font-size: 36px;
    font-weight: 400;
    // text-transform: uppercase;

    @include breakpoint-medium {
        font-size: 46px;
    }
  }