//// CONTACT PAGE ////

.contact {
    @include straight-column;
    margin-top: 2em;
    font-size: 1.5rem;
    padding-top: 100px;
}

.contact-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr 400px;
}

.contact-title {
    @include straight-column;
    font-size: 2.5em;
    font-weight: 900;
    font-family: $roboto-condensed;
    align-items: center;
    letter-spacing: 15px;
}

.contact-image-wrapper {
    margin-top: 20px;
}

.image {
    height: 600px;
    width: 100%;
    object-fit: cover;

    @include breakpoint-medium {
        height: 100%;
        width: 100%;
    }
}

.contact-services {
  @include straight-column;
  margin-top: 60px;
  padding: 0 20px;
  gap: 100px;
}

.social-wrapper {
    @include straight-row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.services-wrapper {
  @include straight-column;
  margin-left: 40px;
  justify-content: space-between;
  gap: 20px;

  @include breakpoint-large {
 }
}
  