////MENU STYLING////
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 100% !important;
    transition: none !important;
    right: 0 !important;
}

.bm-menu {
    padding: 2.5em 1.5em 2.5em;
    font-size: 1.15em;
    overflow: hidden;
}

.bm-burger-button {
    position: fixed;
    width: 60px;
    height: auto;
    left: 10px;
    top: 8px;

    & button:focus {
        outline: none;
    }
}

.bm-cross-button {
    width: auto !important;
    height: auto !important;
    top: 0px !important;
    right: 16px !important;
}

/* WRAPPER FOR ITEM LIST */
.bm-item-list {
    @include straight-column;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 600px) {
        flex-direction: row;
    }

    .bm-item {
        flex: .5;
        text-align: center;
        width: 100%;
        font-family: $roboto-font;
        letter-spacing: 5px;
        padding: 20px;
        color: red;
        font-weight: 900;
        text-decoration: none;
        outline: none;
        position: relative;
        font-size: 20px;

        @media screen and (min-width: 600px) {
            font-size: 30px;
        }

        &:hover {
            background: rgba(123, 100, 103, 0.3);
            color: $base-white-color;
            ;
        }

        &:after {
            position: absolute;
            content: '';
            height: 2px;
            top: 48px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 10%;
            background: #b8b7ad;

            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;

            @media screen and (min-width: 600px) {
                top: 56px;
            }
        }

        &:hover:after {
            width: 30%;
        }
    }
}

/* STYLING OF OVERLAY */
.bm-overlay {
    opacity: 1;
    background: url('../../assets/images/deniz-demirci-unsplash.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: left bottom !important;
    top: 0;
    left: 0;
}

.bm-overlay .bm-burger-button {
    opacity: 0;
}