.l-main-content-festival {
    background-color: #fff;
}

#top, #left {
	background: $base-text-color;
	position: fixed;
}

	#left {
		top: 0; bottom: 0;
		width: 15px;
	}

    #left { left: 0; }
		
	#top {
		left: 0; right: 0;
		height: 15px;
	}

    #top { top: 0; }