.l-main-content {
    padding: 60px 20px 60px 20px;
}

.insider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    background-color: $base-white-color;
    row-gap: 15px;

    @include breakpoint-medium {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0;
    }
}

.insider-item {
    position: relative;

    &:hover {
        cursor: pointer;
        .insider-overlay.card-overlay {
            opacity: 0;
            z-index: 1;
            transition: .3s ease;
        }

        .insider-video {
            opacity: 1;
            z-index: 2;
            transition: .3s ease;
        }
    }
}

.insider-video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.insider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insider-overlay.card-overlay {
    opacity: 1;
    z-index: 2;
}

.insider-title {
    color: $base-white-color;
    position: absolute;
    bottom: 10%;
    left: 5%;
}