//// WORK PAGE ////

.left-work-bar {
    padding-top: 80px;
    width: 100%;
}

.right-work-bar {
    margin-top: 20px;
    padding: 0 20px;
}
  
.work-title {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    margin: 15px 0 0 15px;
    display: flex;
    font-weight: 900;
    justify-content: center;
    font-family: $roboto-condensed;
    font-size: 4.5em;
    color: $base-white-color;
    letter-spacing: 15px;
  }

.image-wrapper {
    height: 600px;
    position: relative;
}

.work-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gre;

    @include breakpoint-medium {
        margin-top: 20px;
    }

    &:last-child {
        :after {
            background: white;
        } 
    }
}

.card-desc {
    letter-spacing: 0.1em;
    text-align: center;
    margin: 20px 0;
    position: absolute;
    bottom: 5%;
    right: 5%;

    & .headline-bold {
        color: $base-white-color;
        // color: ;
        margin-left: 10px;
        text-shadow: rgb(0 0 0 / 10%) 0 0 20px
        // pointer-events: cursor ;
    }
}

.card-name-desc {
    font-size: 20px;
    color: $base-text-color;
}

.card {
    margin-top: 10px;
    width: auto;
    height: 250px;
    border: 1px solid whitesmoke;
    position: relative;
    
    img {
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
    }

    a {
        width: 100%;
        height: 100%;
    }

    @include breakpoint-large {
        height: 200px;
    }
}

.right-work-bar {
    & .swiper-pagination-bullet-active {
        background-color: $base-red-color;
    }

    & .swiper-wrapper {
        margin-bottom: 50px;
    }
}