@mixin animation-button() {
  width: 35px;
  margin: 0.5em 1em 0 0;
  font-weight: bold;
  // position: fixed;
  &:hover {
    cursor: crosshair;
  }
  &:focus,
  input:focus {
    outline: none;
  }
}

@mixin desktop-animation-button() {
  width: 25px;
}

@mixin tablet-animation-button() {
  width: 15px;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin straight-row() {
  display: flex;
  flex-direction: row;
}

@mixin straight-column() {
  display: flex;
  flex-direction: column;
}

@mixin card-style() {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 1em 0.5em 0 0;
  img {
    height: 250px;
    width: 250px;
    &:hover {
      border: 5px solid #8a848a;
    }
  }
}

@mixin work-project-name() {
  font-style: italic;
  font-family: sans-serif;
  color: white;
  width: 36%;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3em;
  span {
    color: #c9cfc6;
    font-weight: 600;
  }
}

@mixin button-container() {
  @include flex-row;
  margin-right: 15em;
  height: 100px;
  .site-btn {
    @include animation-button;
  }
}

////MEDIA QUERIES////

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin responsive-card-style() {
  background-color: white;
  width: 160px;
  height: 180px;
  margin: 1em 0.5em 0 0;
  img {
    height: 180px;
    width: 160px;
    &:hover {
      border: 5px solid #8a848a;
    }
  }
}

@mixin responsive-wrk-prjt-name() {
  font-style: italic;
  font-family: sans-serif;
  color: white;
  width: 75%;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.3em;
  span {
    color: #c9cfc6;
    font-weight: 600;
  }
}

@mixin bp($point) {
  @if $point == largest-sz {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point == middle-sz {
    @media (max-width: 1250px) {
      @content;
    }
  } @else if $point == small-sz {
    @media (max-width: 800px) {
      @content;
    }
  }
}
