@import "_mixins";
// @font-face {
//   font-family: "Archivo Black, sans-serif";
//   color: white;
//   src: url("https://fonts.google.com/?selection.family=Archivo+Black.woff2")
//       format("woff2"),
//     url("https://fonts.google.com/?selection.family=Archivo+Black.woff")
//       format("woff"),
//     url("https://fonts.google.com/?selection.family=Archivo+Black.ttf")
//       format("truetype"),
//     url("https://fonts.google.com/?selection.family=Anton.woff2")
//       format("woff2"),
//     url("https://fonts.google.com/?selection.family=Anton.woff") format("woff"),
//     url("https://fonts.google.com/?selection.family=Anton.ttf")
//       format("truetype");
// }

@import url("https://fonts.googleapis.com/css?family=Bevan");
@import url("https://fonts.googleapis.com/css?family=Poller+One");
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Six+Caps");
@import url("https://fonts.googleapis.com/css?family=Oswald");

// font-family: "Alfa Slab One", cursive;
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Proza Libre', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Trirong', serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Taviraj', serif;
// font-family: 'Eczar', serif;
// font-family: 'Gentium Basic', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

.App {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.name-title {
  font-weight: 200;
  &:hover {
    color: #cc201a;
  }
  .welcome-line-img {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.welcome-btn-container {
  display: flex;
  flex-direction: row;
  margin-right: 10em;
  .welcome-btn {
    width: 50px;
    margin: 0 1em 0 0;
    font-weight: bold;
    &:hover {
      cursor: crosshair;
    }
    &:focus,
    input:focus {
      outline: none;
    }
  }
}

.welcome-container {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  .welcome-title {
    width: 50%;
    .welcome-image {
      height: 700px;
      width: 510px;
      margin: 0 0 50px 60px;
    }
  }
  .tag-line {
    // font-family: "Oswald", sans-serif;
    font-size: 25px;
    width: 10%;
    font-weight: 200;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 50px 5px;
  }
  .welcome-sidebar {
    font-size: 80px;
    font-weight: 200;
    letter-spacing: 15px;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #cc201a;
}

//Menu Styling//
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #cc0c2f;
  opacity: 0.5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
  font-family: "Carrois Gothic SC", sans-serif;
}

.bm-morph-shape {
  fill: #7f071d;
  opacity: 0.8;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  .bm-item {
    font-family: "Carrois Gothic SC", sans-serif;
    letter-spacing: 5px;
    padding: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    &:hover {
      text-decoration: underline white;
    }
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

///// ABOUT PAGE /////
.about-btn-container {
  display: flex;
  flex-direction: row;
  margin-right: 10em;
  // background-color: #d6e7d8;
  .about-btn {
    width: 50px;
    margin: 0 1em 0 0;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      cursor: crosshair;
    }
    &:focus,
    input:focus {
      outline: none;
    }
  }
}

.about-title {
  font-weight: 200;
  display: flex;
  flex-direction: row;
  font-size: 80px;
  letter-spacing: 15px;
  margin: 10px 0 0 20px;
  width: 10%;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .profile-img {
    width: 750px;
    height: 600px;
    margin: 2em 0 0 8em;
  }
  .about-para {
    // font-family: "Six Caps", sans-serif;
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    margin: 12em 3em 4em 2em;
    width: 350px;
    color: #becbc4;
    &:hover {
      color: black;
    }
  }
}

//// CONTACT PAGE ////
.contact-container {
  //place to refactor - on all pages
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  .left-contact-bar {
    background-color: #d6e7d8;
    width: 30%;
    height: 900px;
    .contact-title {
      margin: 2em 1em 0 1.5em;
      height: 200px;
      font-size: 80px;
      font-weight: lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      // transform: rotate(-90deg);
    }
  }
  .right-contact-bar {
    background-image: url("./images/tall_flower_img.jpg");
    width: 70%;
    .form-greeting {
      font-weight: lighter;
      text-align: center;
      color: white;
    }
    .fields {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 40px;
      height: 450px;
      width: 400px;
      margin: 15% 0 0 25%;
      .field {
        text-align: center;
        margin-top: 1em;
        .user-input,
        textarea {
          font-size: 15px;
          border-style: none;
          padding: 10px;
          background: #f6f7f9;
          &:focus,
          input:focus {
            outline: none;
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 0;
    input {
      text-align: center;
      background-color: #161616;
      border-radius: 0px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.2;
      padding: 8px;
      width: 140px;
    }
  }
  .tall-flwr-img {
    height: 800px;
  }
}

//// WORK PAGE ////
//container mixin will eventually go here
.left-work-bar {
  width: 30%;
  height: 900px;
  background-color: #e4efdf;
  .work-overlay {
    background-color: rgba(141, 134, 141, 0.3);
    height: 600px;
    // transform: rotate(90deg);
    .work-title {
      font-size: 100px;
      font-weight: lighter;
      margin-top: 1em;
      text-align: center;
    }
  }
}

.right-work-bar {
  width: 70%;
  height: 900px;
  background-color: #8d868d;
  .project-title {
    font-family: "Carrois Gothic SC", sans-serif;
    margin: 10% 0 0 0;
    color: white;
    font-size: 60px;
    font-weight: 400;
    .project-container {
      display: flex;
      flex-direction: row;
      .work-name {
        font-style: italic;
        font-family: sans-serif;
        width: 36%;
        font-size: 20px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: lighter;
        letter-spacing: 0.3em;
      }
      .card {
        background-color: white;
        width: 250px;
        height: 250px;
        margin: 1em 0.5em 0 0;
        img {
          height: 250px;
          width: 250px;
          &:hover {
            // opacity: 0.5;
            border: 5px solid #a9b1b4;
          }
        }
      }
    }
  }
  .implementation-title {
    font-family: "Carrois Gothic SC", sans-serif;
    margin: 13% 0 0 4%;
    color: white;
    font-size: 60px;
    color: white;
    font-weight: 400;
    .implementation-container {
      display: flex;
      flex-direction: row;
      .work-name {
        font-style: italic;
        font-family: sans-serif;
        width: 36%;
        font-size: 20px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: lighter;
        letter-spacing: 0.3em;
      }
      .card {
        margin-top: 10px;
        background-color: white;
        width: 250px;
        height: 250px;
        margin: 1em 0.5em 0 0;
        img {
          height: 250px;
          width: 250px;
          &:hover {
            // opacity: 0.3;
            border: 5px solid #a9b1b4;
          }
        }
        .works-container {
          background-color: rgba(169, 177, 180, 0.3);
          width: 60%;
          height: 200px;
          padding-top: 10px;
          margin: 0 1em 1em 0;
          div {
            color: black;
            font-family: "Roboto", sans-serif;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.3em;
            line-height: 30px;
            margin-left: 1em;
            &:hover {
              // opacity: 0.5;
              border: 2px solid #a9b1b4;
            }
          }
        }
      }
    }
  }
}
