// @font-face {
//   font-family: "Archivo Black, sans-serif";
//   color: white;
//   src: url("https://fonts.google.com/?selection.family=Archivo+Black.woff2")
//       format("woff2"),
//     url("https://fonts.google.com/?selection.family=Archivo+Black.woff")
//       format("woff"),
//     url("https://fonts.google.com/?selection.family=Archivo+Black.ttf")
//       format("truetype"),
//     url("https://fonts.google.com/?selection.family=Anton.woff2")
//       format("woff2"),
//     url("https://fonts.google.com/?selection.family=Anton.woff") format("woff"),
//     url("https://fonts.google.com/?selection.family=Anton.ttf")
//       format("truetype");
// }

// @import url("https://fonts.google.com/?selection.family=Alfa+Slab+One");
@import url("https://fonts.google.com/?selection.family=Archivo+Black");
@import url("https://fonts.google.com/?selection.family=Anton");
@import url("https://fonts.googleapis.com/css?family=Bevan");
@import url("https://fonts.googleapis.com/css?family=Poller+One");
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Six+Caps");

// font-family: "Alfa Slab One", cursive;
.App {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // margin-left: 18em;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.name-title {
  // width: 50%;
  &:hover {
    color: #cc201a;
  }
  .welcome-line-img {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.welcome-container {
  display: flex;
  flex-direction: row;
  .welcome-title {
    width: 50%;
    .welcome-image {
      height: 700px;
      width: 510px;
      margin: 10px 0 50px 60px;
    }
  }
  .tag-line {
    // font-family: "Bevan", cursive;
    font-family: "Six Caps", sans-serif;
    font-size: 50px;
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 50px 30px;
  }
}

.welcome-sidebar {
  font-size: 70px;
  letter-spacing: 15px;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #cc201a;
}

//Menu Styling//
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #cc0c2f;
  opacity: 0.5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bm-morph-shape {
  fill: #7f071d;
  opacity: 0.8;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  .bm-item {
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 5px;
    padding: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline wavy red;
    }
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.about-title {
  font-size: 50px;
  margin: 1em 0 0 1em;
  width: 10%;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  .profile-img {
    width: 750px;
    height: 600px;
    margin: 0 0 0 8em;
  }
  .about-para {
    // font-family: "Six Caps", sans-serif;
    font-family: "Carrois Gothic SC", sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    margin: 20em 3em 4em 1em;
    width: 350px;
    color: #625657;
    &:hover {
      color: black;
    }
  }
}
