.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  .menu {
    margin-left: 18em;
  }
}

.name-title {
  width: 50%;
  .welcome-line-img {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.welcome-container {
  display: flex;
  flex-direction: row;
  .welcome-title {
    width: 50%;
    .welcome-image {
      height: 750px;
      width: 550px;
      margin: 10px 0 50px 40px;
    }
  }
  .tag-line {
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 50px 30px;
  }
}

.welcome-sidebar {
  font-size: 60px;
  letter-spacing: 10px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // transform: translate(180deg);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
